* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.diemso {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 13rem;
    color: blueviolet;
}

.username {
    margin-bottom: 1rem;
}

.name {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1rem;
}

.button {
    padding: 0.3rem;
    border-radius: 10px;
    background: chocolate;
    cursor: pointer;
    margin-left: 0.3rem;
}

.button:hover {
    background: rgb(221, 199, 5);
}

.input  {
    padding: 0.3rem;
    border-radius: 10px;
    margin-left: 0.3rem;
    outline: none;
}

.luotphong {
    margin-top: 1rem;
}

.kquser2 {
    margin-top: 1rem;
}

.kquser1 {
    margin-top: 1rem;
}

.user1 {
    border: 2px solid springgreen;
    padding: 0 1rem;
}

.user2 {
    border: 2px solid springgreen;
    padding: 0 1rem;
}

.userleft {
    border: 2px solid rgb(0, 60, 255);
    padding: 0 1rem;
}

.userright {
    border: 2px solid rgb(212, 0, 255);
    padding: 0 1rem;
}

.winscore {
    padding: 2rem 0;
}

.winscoreuser1 {
    background: black;
    padding: 1rem 1rem;
    color: red;
    font-size: 1.5rem;
}

.winscoreuser2 {
    background: black;
    padding: 1rem 1rem;
    color: red;
    font-size: 1.5rem;
}